<ion-header>
  <ion-toolbar>
    <ion-title>Interaccion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button (click)="send('Z')" expand="block" fill="clear" shape="round">
    Encender Luces
  </ion-button>
  <ion-button (click)="send('z')" expand="block" fill="clear" shape="round">
    Apagar Luces
  </ion-button>
  <ion-button (click)="send('R')" expand="block" fill="clear" shape="round">
    Encender Rociadores
  </ion-button>
  <ion-button (click)="send('r')" expand="block" fill="clear" shape="round">
   Apagar Rociadores
  </ion-button>

</ion-content>
